<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원가입 폼 테스트</h1>
    <hr />

    <form action="/create" method="POST">
      <table>
        <tr>
          <td>
            <input type="text" name="user_id"" placeholder="아이디 입력." />
          </td>
        </tr>
        <tr>
          <td>
            <input type="number" name="password" placeholder="비밀번호 입력." />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="email" placeholder="이메일 입력." />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="phone" placeholder="핸드폰번호 입력." />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="username" placeholder="이름 입력." />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="birthday" placeholder="생일 입력." />
          </td>
        </tr>
        <tr>
          <td>
            <input type="number" name="sex" placeholder="성별 남=1 여=2." />
          </td>
        </tr>
      </table>
      <input type="submit" value="전송하기" />
    </form>
    <!-- <table>
      <% for(let data of results) { %>
      <tr>
        <td><%= data.user_id %></td>
        <td><%= data.password %></td>
        <td><%= data.email %></td>
        <td><%= data.phone %></td>
        <td><%= data.username %></td>
        <td><%= data.birthday %></td>
        <td><%= data.sex %></td>
      </tr>
      <% } %>
    </table> -->
  </body>
</html>
