<!DOCTYPE html>
<html lang="ko">

<head>
  <title>Mapstival</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet" />

  <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="/css/animate.css" />

  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" />

  <link rel="stylesheet" href="/css/aos.css" />

  <link rel="stylesheet" href="/css/ionicons.min.css" />

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
  <link rel="stylesheet" href="/css/jquery.timepicker.css" />

  <link rel="stylesheet" href="/css/flaticon.css" />
  <link rel="stylesheet" href="/css/icomoon.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/star.css">
  <link rel="shortcut icon" href="/images/favicon.ico" />

</head>
<style>
  .festivaltitle {
    text-align: center;
  }

  .star {
    text-align: center;
  }

  .rat {
    text-align: center;
  }
  .card-body{
      width: 100% ;
      height: 100%;
      border-width: 2.4px;
      border-radius: 5px;
      border-color:#85d3ff;
      text-align:center;
      color: #85d3ff;
      /* color: #85d3ff; */
      opacity: 1;
      background-color: #fff;
    }
    .card-body input {
      width: 100% ;
      height: 100%;
      border-width: 2.4px;
      border-radius: 5px;
      border-color:#85d3ff;
      text-align:center;
      /* color: #85d3ff; */
      opacity: 1;
      background-color: #fff;
    }
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ftco-animate">
        <p>
          <%if(data.firstimage != null) { %>
        <div><img src="<%= data.firstimage %>" width="730px" class="img-fluid" /></div>
        <% } else { %>
        <div><img src="../../images/imagenone7.png" width="730px" height="487px" /></div>
        <%}%>
          </p>
          
          <div class="about-author d-flex p-5 bg-light">
            <div class="bio align-self-md-center mr-5">
              <!-- <img src="/images/leave.jpg" width="200px" height="200px" alt="Image placeholder"/> -->
            </div>
            <div class="desc align-self-md-center">
        <h1 class="festivaltitle"><%- data.title%></h1>
        <% include ../includes/topbutton %>
        <p>
          <%- data.overview%>
        </p>
      </div>
    </div>
    <br>
    <h4>홈페이지 :
      <% if(data.homepage == "") { %>
      -
      <% } else { %>
      <%- data.homepage %>
      <% } %>
    </h4><br>

    <h4>전화번호 :
      <% if(data.tel == "") { %>
      -
      <% } else { %>
      <%- data.tel %>
      <% } %>
    </h4><br>
    <h4>축제주소 :
      <% if(data.addr1 == "") { %>
      -
      <% } else { %>
      <%- data.addr1 %>
      <% } %>
    </h4>
    <h4 class="mb-3 mt-5">이용요금 :
      <% if(detail.usetimefestival == "") { %>
      -
      <% } else { %>
      <%- detail.usetimefestival %>
      <% } %>
    </h4>

    <h4 class="mb-3 mt-5">축제기간 :
      <% if(detail.eventstartdate == "") { %>
      -
      <% } else { %>
      <%= detail.eventstartdate %> ~ <%= detail.eventenddate %>
      <% } %>
    </h4>

    <h4 class="mb-3 mt-5">운영시간 :
      <% if(detail.playtime == "") { %>
      -
      <% } else { %>
      <%- detail.playtime %>
      <% } %>
    </h4>
    <div class="comment-form-wrap pt-5">
      <form action="/board/create?id=<%=data.contentid%>" class="p-5 bg-light" method="post">
        <h4 class="mb-5">축제는 어땠나요?<br>소중한 후기를 적어주세요!</h4>
        <div class="form-group">
          <label for="name">Gender *</label><br>
          <input type="radio" name="gender" checked="checked" value="female" /> 남성
          <input type="radio" name="gender" value="male" /> 여성
        </div>
        <div class="form-group">
          <label for="name">Name *</label>
          <input type="text" value="익명" onfocus="this.value=''" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group">
          <label for="password">password *</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div class="form-group">
          <label for="password">Rating *</label>
          <div><% include ../includes/star %>
          </div>
        </div>
        <div class="form-group">
          <label for="message">Message *</label>
          <input id="message" cols="30" rows="10" name="message" class="form-control"></input>
        </div>
        <div class="form-group">
          <input type="submit" id="nullCK" value="Write" class="btn py-0 px-3  btn-primary" style="font-size: 20px"/>
        </div>
      </form>
    </div>
    <div class="pt-5 mt-5">
      <h3 class="mb-5">
        <p><%= dbData.length%> 개의 댓글이 있어요!</p>
      </h3>
      
      <ul class="comment-list">
        <% if(dbData !== ""){ %>
        <% for(i=0; i < dbData.length; i++) { %>
        <li class="comment">
          <div class="vcard bio">
            <img src="/images/leave.jpg" alt="Image placeholder" />
          </div>
          <div class="comment-body">
            <h3><%= dbData[i].nickname%>&nbsp;&nbsp;&nbsp;<button class="btn py-0 px-3 btn-primary" style="font-size: 15px" type=" button" data-toggle="collapse"
              data-target=".multi-collapse<%=[i]%>" aria-expanded="false" aria-controls="togglePW<%=[i]%>">
              Edit</button></h3>
            <div class="meta"><%= dbData[i].updatedAt %></div>
            <div class="meta">평점:<%= dbData[i].scope%>점
              
            </div>
            <p>
              <%= dbData[i].review %>
            </p>
            <form action="/board/passwordCheck" class="p-5 bg-light" method="post">
              <input type="hidden" name="idx" value="<%= dbData[i].id%>" />
              <div class="collapse multi-collapse<%=[i]%>" id="togglePW<%=[i]%>">
                <div class="card card-body">
                  <input type="password" id="password" name="password" value="" / placeholder="글 작성시 등록한 비밀번호를 입력하세요.">
                  <input type="submit" value="확인" />
                </div>
              </div>
            </form>
          </div>
        </li>
        <% } %>
        <% } %>

    </div>
  </div>
  <!-- .col-md-8 -->

  <!--keyword-->
  <div class="col-md-4 sidebar ftco-animate">
    <div class="sidebar-box">
      <form action="#" class="search-form">
        <div class="form-group">
          <span class="icon fa fa-search"></span>
          <h3 class="star">
            <% for(i=0; i < Math.floor(rating); i++) { %>
            <span style="font-size:20px; color:gold;" class="glyphicon glyphicon-star"></span>
            <% } %>
          </h3>
          <span class="ion-android-star"></span>
          <h3 class="rat">
            <%if(ratingPutNumber) { %>
            <p>
              평점 : <%= rating %> 리뷰수 : <%= ratingPutNumber %>
            </p>
            <% } else { %>
            <p>존재하는 리뷰가 없습니다.</p>
            <% } %>
          </h3>
        </div>
      </form>
    </div>
    <div class="sidebar-box ftco-animate">
      <div class="categories">
        <h3>Categories</h3>
        <li>
          <a href="#">Food <span>(12)</span></a>
        </li>
        <li>
          <a href="#">Dish <span>(22)</span></a>
        </li>
        <li>
          <a href="#">Desserts <span>(37)</span></a>
        </li>
        <li>
          <a href="#">Drinks <span>(42)</span></a>
        </li>
        <li>
          <a href="#">Ocassion <span>(14)</span></a>
        </li>
      </div>
    </div>

    <div class="sidebar-box ftco-animate">
      <h3>Recent Blog</h3>
      <% for(i=0; i<blogData.length; i++){ %>
      <div class="block-21 mb-4 d-flex">
        <div class="text">
          <h3 class="heading">
            <a href="<%= blogData[i].link %>"><img src="/images/title.png" width="40px" height="35px">&nbsp&nbsp<%- blogData[i].title %></a>
          </h3>
          <h3 class="heading1">
            <a href="<%= blogData[i].link %>"><%- blogData[i].description %></a>
          </h3>
          <div class="meta">
            <div>
              <a href="<%= blogData[i].link %>"><img src="/images/naverblog.png" width="20px" height="16px">&nbsp;<%- blogData[i].bloggername %></a>
            </div>
            <div>
              <a href="<%= blogData[i].link %>">&nbsp;<span class="icon-calendar"></span>&nbsp;&nbsp;<%- blogData[i].postdate %></a>
            </div><br /><br />
          </div>
        </div><br/>
      </div>
      <% } %>
    </div>
  </div>
  </div>
  </div>
  </section>

  <br><br>
  <% include ../includes/footer %>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/jquery.timepicker.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>

  <script src="/js/star.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  <script>
    //버튼 빈칸인지 확인하기
    $(document).ready(function () {
      $("#nullCK").click(function () {
        if ($("#name").val().length == 0) { alert("이름을 입력해주세요."); $("#name").focus(); return false; }
        if ($("#password").val().length == 0) { alert("비밀번호를 입력해주세요."); $("#password").focus(); return false; }
        if ($("#message").val().length == 0) { alert("후기내용을 입력해주세요."); $("#message").focus(); return false; }
      })
    })
  </script>

<script src="/js/topbutton.js"></script>
</body>

</html>