<!DOCTYPE html>
<html lang="en">
  <head>
    <META http-equiv="Content_type" content="text/html" />
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= data.title%></h1>

    <h2>축제 설명</h2>
    <%if(data.firstimage != null) { %>
    <div><img src="<%= data.firstimage %>" /></div>
    <% } else { %>
    <div><img src="../../images/imagenone.png" /></div>
    <%}%>

    <div><%- data.overview%></div>
    <div><%= data.contenttypeid%></div>

    <div>
      <h2>
        전화번호 :
        <button
          type="button"
          name="button"
          onclick="location.href='tel:<%-data.tel%>'"
        >
          <%= data.tel %>
        </button>
      </h2>
    </div>
    <div><h2>홈페이지 : <%- data.homepage %></h2></div>
    <div><h2>축제주소 : <%= data.addr1 %></h2></div>
  </body>
</html>
