<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Mapstival</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />

    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/aos.css" />

    <link rel="stylesheet" href="/css/ionicons.min.css" />

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />

  </head>

  <style>
    .area{
      width: 120px;
      height: 50px;
      border-width: 4px;
      border-radius: 5px;
      border-color:#85d3ff;
      text-align:center;
      font-weight: 500;
      font-size:20px;
      background-color: #fff;
      color: #85d3ff;
      /* color: #85d3ff; */
      opacity: 1;
    }
    .year{
      width: 120px;
      height: 50px;
      border-width: 4px;
      border-radius: 5px;
      border-color:#a9b5fd;
      text-align:center;
      font-weight: 500;
      font-size:20px;
      background-color: #fff;
      color: #a9b5fd;
      /* color: #a9b5fd; */
      opacity: 1;
    }
    .month{
      width: 120px;
      height: 50px;
      border-width: 4px;
      border-radius: 5px;
      border-color:#c49efe;
      text-align:center;
      background-color: #fff;
      font-weight: 500;
      font-size:20px;
      color: #c49efe;
      /* color: #e389fc; */
      opacity: 1;
    }
        input {
       width: 80px;
      height: 40px;
      border-width: 4px;
      border-radius: 5px;
      border-color:#e389fc;
      text-align:center;
      background: #fff;
      color: #000;}
    body {}
    section{padding-top: 100px; padding-bottom: 160px;}

    .movebutton{text-align: center; padding-top: 100px;}
  </style>

  <body>
    <!-- <nav
      class="ftco-footer"
    >
      <div class="container">
        <a class="navbar-brand" href="/" style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOME</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="oi oi-menu"></span> Menu
        </button> -->

        <!-- <div class="collapse navbar-collapse" id="ftco-nav"></div>
      </div>
    </nav> -->

    <div class="movebutton">
    <button class="area" type="button" onclick="location.href='/map'">HOME</button>
    <button class="month" onclick="history.go(-1);">GALLERY</button>
    </div>

    <section>
      <!-- <div class="movebutton">
        <button class="area"></button>
        <button class="year"></button>
        <button class="month"></button>
        </div> -->
      <div class="container bg-light">
        <div class="row block-9">
          <div class="col-md-6 pr-md-5">
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <b>
                <h3>Festival List</h3>
                <% for(i=0;i<tourData.length;i++){ %>
                  <li>
                    <a href="detail?id=<%= tourData[i].contentid %>"><%= tourData[i].title %><span>(6)</span></a>
                  </li>    
                  <% } %>
                </b>
              </div>
            </div>
          </div>

          <div class="col-md-6" id="map"></div>
        </div>
      </div>
    </section>
    <div>
    <% include ../includes/footer %>
  </div class="foot">
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/jquery.timepicker.min.js"></script>
  <script src="/js/gmapScript.js"></script>
  <script>
    (function(){ dataIn('<%= lat %>','<%= equ %>','<%= f_area %>','<%= gmapTitle %>','<%= id %>'); })()
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7lGjC1U4IAhcB7eYjAph5r0lkEfKwKuY&callback=initMap"></script>
  <script src="/js/main.js"></script>
    
  </body>
</html>
